.allbooks_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* text-align: start; */
    margin-bottom: 2rem;
}

.allbooks_text{
    font-size: 2rem;
    margin-top: 3rem;
    margin-left: 12rem;
}

.allbooks_books{
    padding-top: 2rem;
    /* border: solid 2px red; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 50px;
}

.allbooks_book{
    transition: all 0.3s ease-out;
}

.allbooks_book:hover{
    cursor: pointer;
    transform: translateY(-10px);
}

.allbooks_name{
    width: 13rem;
    margin-top: 0.5rem;
}
