.exploremore_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    background-color: #aa7ad43a;
}

.exploremore_text{
    font-size: 2rem;
    padding-bottom: 1.5rem;
    padding-top: 5rem;
}

.exploremore_button{
    border: solid 2px #7342d6;
    border-radius: 0.25rem;
    background-color: #7342d6;
    color: white;
    margin-bottom: 5rem;
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    line-height: normal;
}