.header_container{
    /* border: solid 2px black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0rem 1.5rem 0rem;
    background-color: #aa7ad43a;
}

.header_left{
    margin-left: 12rem;
    cursor: pointer;
}

.header_right{
    margin-right: 12rem;
    font-size: large;
}

.cart_icn{
    position: relative;
    height: 1.75rem;
}

.cart_item_number {
    position: absolute;
    right: 11.75rem;
    top: 3.25rem;
    width: 1rem; /* Adjust width and height to desired size */
    height: 1rem; /* Adjust width and height to desired size */
    font-size: 0.75rem;
    color: white;
    border: solid 2px red;
    border-radius: 50%; /* Make it a perfect circle */
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
